@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.fade-enter {
    opacity: 0;
    transform: translateY(20%);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0%);
}

.fade-exit {
    opacity: 0;
    transform: translateY(0%);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(0%);
}

.fade-enter-active,
.fade-exit-active {
    transition: opacity 500ms, transform 500ms;
}


::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    display: none;
}

